<template name='logIn'>
    {{#if currentUser}}
    <p>Work in progress...</p>
    {{else}}
        {{#if signingIn}}
            {{> formulaire_inscription_profil}}
        {{else}}
            <p>Bienvenue ! Veuillez vous connecter ou vous créer un compte pour continuer.</p>
            <form class="formLogIn">
                <input type="email" name="loginEmail" placeholder="e-mail"><br>
                <input type="password" name="loginPassword" placeholder="mot de passe"><br>
                <input type="submit" class="logIn" value="Connexion">
            </form>
            <p>Pas encore de compte ? Créez-en un ici : </p>
            <input type="button" class="signIn" value="Inscription">
        {{/if}}
    {{/if}}
</template>